/* 
html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

body {
  overflow: hidden;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
}

.flipbook-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.flipbook-viewport .container {
  position: absolute;
  top: 50px;
  left: 0;
  margin: auto;
}

.flipbook-viewport .flipbook {
  width: 1920px;
  height: 1080px;
}

.flipbook-viewport .page {
  width: 810px;
  height: 612px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.flipbook-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;
  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.left-side-filter{
  width: 15%;
  height: 100vh;
  float: left;
  background: #F1F1F1;
  position: relative;
  z-index: 99999 !important;
}
.middle-side-book{
  width: 70%;
  float: left;
  z-index: 0;
}
.right-side-filter{
  width: 15%;
  height: 100vh;
  float: right;
  background: #F1F1F1;
  padding: 10px;
  position: relative;
  z-index: 99999 !important;
}
.left-side a img {
  text-align: center;
  padding: 30px 15px 30px 45px;
}
/* .left-side ul{
  list-style: none;
  padding: 0;
  width: 220px;
  text-align: center;
  margin: 0 auto;
}
.left-side ul li{
  margin-bottom: 15px;

}
.left-side ul li a{
  border-radius: 11px;
  border: 1px solid #F3F3F3;
  background: linear-gradient(180deg, #1D61CE 0%, #132F5E 100%);
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  padding: 24px 15px;
  display: block;
  opacity: 0.8;
  cursor: pointer;
}
.left-side ul li a:hover{
  background: #135ed6; 
  opacity: 1;
} */
/* .left-side .navbar a.active {
  background: #135ed6; 
  opacity: 1;
} */
/* Highlight the active link */
/* nav a.active {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  padding: 5px 10px;
} */
.info{
  color: #000;
  padding: 20px 10px 10px 30px;
}
.info h2{
  border-bottom: 2px solid #8c8c8c;
  text-transform: uppercase;
}
.info p{
  line-height: 22px;
  margin: 5px 0px;
}

/* Style inputs with type="text", select elements and textareas */
.form-control {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #15499D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #135ed6;
}
.mobile{
  width: 100%;
  display: flex;
}
.number-prefix{
  width: 30%;
  float: left;
  padding: 12px 3px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.number-postfix{
  width: 70%;
  float: left;
  padding: 12px 3px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.right-side img{
  padding: 3px 15px 10px 30px;
}
.download {
  text-align: center;
}
.download p{
  text-align: center;
  margin: 10px 5px 0px 5px;
}
.left-side nav ul{
  list-style: none;
  padding: 0;
  width: 220px;
  text-align: center;
  margin: 0 auto;
}

nav li {
    margin-bottom: 15px;
}

nav a {
  border-radius: 11px;
  border: 1px solid #FFF;
  background: #FFF;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.19));
  text-decoration: none;
  color: #000 !important;
  font-weight: bold;
  padding: 24px 15px;
  display:block;
  cursor: pointer;
}
/* Highlight the active link */
nav a.active {
  border: 1px solid #FFF;
  color:#FFF !important;
  background: linear-gradient(180deg, #2378FB 0%, #0E49A5 100%);
  font-weight: bold;
  padding: 24px 15px;
  display:block;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .left-side-filter{
    width: 14%;
    float: left;
    background: #F1F1F1;
    z-index: 99999 !important;
    overflow: scroll;
    position: relative;
  }
  .middle-side-book{
    width: 70%;
    float: left;
    z-index: 0;
  }
  .right-side-filter{
    width: 13%;
    float: right;
    background: #F1F1F1;
    padding: 15px;
    overflow: scroll;
    position: relative;
    z-index: 99999 !important;
  }
  .left-side img {
    text-align: center;
    padding: 15px 15px;
    width: 120px;
  }
  .left-side nav ul{
    list-style: none;
    padding: 0;
    width: 140px;
    text-align: center;
    margin: 0 auto;
  }
  
  nav li {
      margin-bottom: 10px;
  }
  
  nav a {
    border-radius: 11px;
    border: 1px solid #FFF;
    background: #FFF;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.19));
    text-decoration: none;
    color: #000 !important;
    font-weight: bold;
    padding: 15px 10px;
    display:block;
    cursor: pointer;
  }
  /* Highlight the active link */
  nav a.active {
    border: 1px solid #FFF;
    color:#FFF !important;
    background: linear-gradient(180deg, #2378FB 0%, #0E49A5 100%);
    font-weight: bold;
    padding: 15px 10px;
    display:block;
    cursor: pointer;
  }
  .right-side img{
    text-align: center;
    padding: 15px 15px;
    width: 120px;
  }
  .info {
    color: #000;
    padding: 10px;
  }
  .info h2 {
    border-bottom: 2px solid #8c8c8c;
    font-size: 18px;
  }
}
#loader {
  height: 256px;
  width: 256px;
  top: 250px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 2000;
  display: none;
}
#response_data{
  font-size: 16px;
  font-weight: 700;
  color: green;
}


/* Style By Shaon vai */
#home-info{
  background-color: #fff;
 }
 
 .title-heading {
     font-size: 1.7em;
     border-top: 1px solid #bdbcbc;
     border-bottom: 1px solid #b7b7b7;
     margin: 2% 21% 8% 21%;
   text-align: center;
 }
 
 .catalogue-box{
   border: 1px solid #bdbcbc;
     border-radius: 8px;
     padding: 10px 0;
 }
 
 /*Responsive code*/
 @media (max-width: 767px) {
   .navbar-nav li{
     padding-left: 0;
   }
 }
 
 @media (max-width: 480px){
   #slider h1{
     font-size: 2.5rem;	
   }
 
   #getstarted h2{
     font-size: 1.5rem;
   }
 
 }