/* 
html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

body {
  overflow: hidden;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
}

.flipbook-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.flipbook-viewport .container {
  position: absolute;
  top: 50px;
  left: 0;
  margin: auto;
}

.flipbook-viewport .flipbook {
  width: 1920px;
  height: 1080px;
}

.flipbook-viewport .page {
  width: 810px;
  height: 612px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.flipbook-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;
  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
} */
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.left-side-filter{
  width: 15%;
  height: 100vh;
  float: left;
  background: #001D4D;
  z-index: 999;
}
.middle-side-book{
  width: 70%;
  float: left;
  z-index: 0;
}
.right-side-filter{
  width: 15%;
  height: 100vh;
  float: right;
  background: #F1F1F1;
  padding: 20px;
}
.left-side img {
  text-align: center;
  padding: 30px 15px 70px 0px;
}
/* .left-side ul{
  list-style: none;
  padding: 0;
  width: 220px;
  text-align: center;
  margin: 0 auto;
}
.left-side ul li{
  margin-bottom: 15px;

}
.left-side ul li a{
  border-radius: 11px;
  border: 1px solid #F3F3F3;
  background: linear-gradient(180deg, #1D61CE 0%, #132F5E 100%);
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  padding: 24px 15px;
  display: block;
  opacity: 0.8;
  cursor: pointer;
}
.left-side ul li a:hover{
  background: #135ed6; 
  opacity: 1;
} */
/* .left-side .navbar a.active {
  background: #135ed6; 
  opacity: 1;
} */
/* Highlight the active link */
/* nav a.active {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  padding: 5px 10px;
} */
.info{
  color: #fff;
  padding: 20px 10px 10px 30px;
}
.info h2{
  border-bottom: 2px solid #8c8c8c;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #15499D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #135ed6;
}

.right-side img{
  padding: 30px 15px 30px 40px;;
}
.download p{
  text-align: center;
  margin: 30px 5px 0px 5px;
}
.left-side nav ul{
  list-style: none;
  padding: 0;
  width: 220px;
  text-align: center;
  margin: 0 auto;
}

nav li {
    margin-bottom: 15px;
}

nav a {
  border-radius: 11px;
  border: 1px solid #F3F3F3;
  background: blue;
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  padding: 24px 15px;
  display:block;
  cursor: pointer;
  opacity: 0.7;
}
/* Highlight the active link */
nav a.active {
  background-color: blue;
  font-weight: bold;
  padding: 24px 15px;
  display:block;
  cursor: pointer;
  opacity: 1;
}
@media (max-width: 1280px) {
  .left-side-filter{
    width: 15%;
    float: left;
    background: #001D4D;
    z-index: 99999 !important;
    overflow: scroll;
    position: relative;
  }
  .middle-side-book{
    width: 70%;
    float: left;
    z-index: 0;
  }
  .right-side-filter{
    width: 15%;
    float: right;
    background: #F1F1F1;
    padding: 20px;
    overflow: scroll;
    position: relative;
    z-index: 99999 !important;
  }
  .left-side img {
    text-align: center;
    padding: 15px 15px;
    width: 120px;
  }
  .left-side nav ul{
    list-style: none;
    padding: 0;
    width: 150px;
    text-align: center;
    margin: 0 auto;
  }
  
  nav li {
      margin-bottom: 10px;
  }
  
  nav a {
    border-radius: 11px;
    border: 1px solid #F3F3F3;
    background: blue;
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
    padding: 15px 10px;
    display:block;
    cursor: pointer;
    opacity: 0.7;
  }
  /* Highlight the active link */
  nav a.active {
    background-color: blue;
    font-weight: bold;
    padding: 15px 10px;
    display:block;
    cursor: pointer;
    opacity: 1;
  }
  .right-side img{
    text-align: center;
    padding: 15px 15px 15px 30px;
    width: 120px;
  }
}